.collectionWrapper {
    padding: 2px;
    border-radius: 6px;
    font-family: monospace;
}

.infoText {
    font-family: monospace;
    margin: 3px;
    padding: 0px;
}

.colorPreview {
    display: inline-block;
    width: 10px;
    height: 10px;
    border: solid 1px;
    margin-left: 5px;
}